<h3>Contador</h3>
<h4>{{contador}}</h4>

<div class="row text-center">
    <div class="col">
        <button (click)="multiplicar()" class="btn btn-primary">Multiplicar</button>
        <button (click)="dividir()" class="btn btn-info">Dividir</button>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <app-nieto></app-nieto>
    </div>
</div>